body { 
	background: #907D7C; 
	-webkit-transition: background 1.5s;
} 
.parentz {
	background: #907D7C;
	text-align: center;
	margin-top: 8%;
	-webkit-transition: background 1.5s;
}

#parent2 {
	margin-top: 3%;
}

.logos {
	width: 7%;
	height: 19%;
	border-radius: 90px;  
	margin-right: 20px; 

} 